{% extends 'base.html'%}

{%block head %} {%endblock%}

{%block navbar %} {% endblock %}

{%block navsmall %} {% endblock %}

{% block header%}
<div class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">WELCOME TO EXAM ONLINE</h1>
  <p class="w3-xlarge"></p>
  <a href = "/accounts/google/login/?process=login"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Start with Google</button></a>
</div>
{% endblock %}

{% block firstgrid%}

{%endblock%}
{%block secondgrid%}

{%endblock%}      

{%block footer%}

{%endblock%}


<header class="w3-container w3-red w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">START PAGE</h1>
    <p class="w3-xlarge">Template by w3.css</p>
    <a href = "/accounts/google/login/?process=login"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button></a>
  </header>