{% extends 'base.html'%}

{%block head %} {%endblock%}

{%block navbar %} {% endblock %}

{%block navsmall %} {% endblock %}

{% block header%}

{% endblock %}

{% block firstgrid%}
{%endblock%}
{%block secondgrid%}
<div class="jumbotron container row">
    <div class="col-md-6">
        <h1>Add Question</h1>
        <div class="card card-body">
           <form action="" method="POST">{% csrf_token %}
                {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.label_tag }} {{ field }}
                </div>
                {% endfor %}            
                <br><br>
             <input type="submit" name="Submit">
             </form>
            </div>
        </div>
    </div>
 
</div>
{%endblock%}      

{%block footer%}

{%endblock%}