{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Awesome Quiz App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- FontAweome CDN Link for Icons-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body onload="showResult()">
    {% comment %} <body> {% endcomment %}
    <!-- Result Box -->
    <div class="result_box">
      <div class="icon">
        <i class="fas fa-crown"></i>
      </div>
      <div class="complete_text">You've completed the Quiz!</div>
      <div class="score_text">
        <!-- Here I've inserted Score Result from JavaScript -->
        <span
          >and congrats! 🎉, You
          <p>{{result}}</p>
          the exam.
        </span>
      </div>
      <div class="buttons">
        <button class="quit">Quit Quiz</button>
      </div>
    </div>

    <script type="text/javascript">
      const result_box = document.querySelector('.result_box');
      const quit_quiz = result_box.querySelector('.buttons .quit');
      {% comment %} var userScore = '{{result}}'; {% endcomment %}
      function showResult() {
        result_box.classList.add('activeResult'); //show result box
        // const scoreText = result_box.querySelector('.score_text');
        // if user scored more than 3
        //creating a new span tag and passing the user score number and total question number
        //let scoreTag =
        //  '<span>and congrats! 🎉, You <p>' +
        //  userScore +
        //  '</p> the exam. <p>' +
        //  '</p></span>';
        // scoreText.innerHTML = scoreTag; //adding new span tag inside score_Text
      }
    </script>
  </body>
</html>
